body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 20px 10px;
    width: 350px;
    height: 350px;
    border: 6px solid wheat;
    border-radius: 20px;
    padding: 64px 61px 64px 62px;
    background: #1F2937;
}

h1 {
    margin-bottom: 0px;
    color: white;
}

#ranpas {
    color: #10B981;

}

p {
    margin-top: 7px;
    color: #D5D4D8;

}

button {
    background: #10B981;
    width: 191px;
    height: 42px;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    color: #D5D4D8;

}

#dis {
    margin-top: 40px;
    width: 348px;
    border: 1px solid #2F3E53
}

#sett {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 10px;
    width: 190px;
    height: 35px;
    border-radius: 6px ;
    background: #273549;
    color: white;

}


#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 10px;
    width: 190px;
    height: 35px;
    border-radius: 6px ;
    background: #273549;
    color: white;
}